In [134]:
#P1

In [135]:
import pandas as pd

In [136]:
file_path = '/Users/annabearden/Desktop/New Folder With Items/HW2.csv'
rawdata=pd.read_csv(file_path)
print(rawdata)

     List  V1     V2  V3    V4     V5    V6     V7  V8   V9
0       0   1   85.0  66  29.0    0.0  26.6  0.351  31  NaN
1       1   8  183.0  64   0.0    0.0  23.3  0.672  32  1.0
2       2   1    NaN  66  23.0   94.0  28.1  0.167  21  0.0
3       3   0  137.0  40  35.0  168.0   NaN  2.288  33  1.0
4       4   5  116.0  74   0.0    0.0  25.6  0.201  30  0.0
..    ...  ..    ...  ..   ...    ...   ...    ...  ..  ...
762   762  10  101.0  76  48.0  180.0  32.9  0.171  63  NaN
763   763   2  122.0  70  27.0    0.0  36.8  0.340  27  NaN
764   764   5  121.0  72  23.0  112.0  26.2  0.245  30  0.0
765   765   1  126.0  60   0.0    0.0  30.1  0.349  47  1.0
766   766   1   93.0  70  31.0    0.0  30.4  0.315  23  0.0

[767 rows x 10 columns]

In [137]:
#P2

In [138]:
df = pd.DataFrame(rawdata)

In [139]:
df.fillna(df.mean())

     List  V1          V2  V3    V4     V5         V6     V7  V8     V9
0       0   1   85.000000  66  29.0    0.0  26.600000  0.351  31  0.352
1       1   8  183.000000  64   0.0    0.0  23.300000  0.672  32  1.000
2       2   1  120.663551  66  23.0   94.0  28.100000  0.167  21  0.000
3       3   0  137.000000  40  35.0  168.0  31.884133  2.288  33  1.000
4       4   5  116.000000  74   0.0    0.0  25.600000  0.201  30  0.000
..    ...  ..         ...  ..   ...    ...        ...    ...  ..    ...
762   762  10  101.000000  76  48.0  180.0  32.900000  0.171  63  0.352
763   763   2  122.000000  70  27.0    0.0  36.800000  0.340  27  0.352
764   764   5  121.000000  72  23.0  112.0  26.200000  0.245  30  0.000
765   765   1  126.000000  60   0.0    0.0  30.100000  0.349  47  1.000
766   766   1   93.000000  70  31.0    0.0  30.400000  0.315  23  0.000

[767 rows x 10 columns]

In [140]:
#P3

In [141]:
import sklearn

In [142]:
from sklearn.model_selection import train_test_split
y=df["V1"]
x=df.drop(columns="V1")

x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.6,random_state=30)
x_test,x_val,y_test,y_val=train_test_split(x_test,y_test,test_size=0.5,random_state=30)

In [143]:
print(x_train,x_test,x_val)
print("Training length", len(x_train))
print("Testing length", len(x_test))
print("Validation length",len(x_val))

     List     V2  V3    V4     V5    V6     V7  V8   V9
222   222  142.0  60  33.0  190.0  28.8  0.687  61  0.0
609   609  106.0  54  21.0  158.0  30.9  0.292  24  0.0
238   238  104.0  76   0.0    0.0  18.4  0.582  27  0.0
463   463  115.0  98   0.0    0.0  24.0  1.022  34  0.0
434   434  141.0   0   0.0    0.0  42.4  0.205  29  1.0
..    ...    ...  ..   ...    ...   ...    ...  ..  ...
753   753  154.0  78  32.0    0.0  32.4  0.443  45  1.0
590   590  112.0  78  50.0  140.0  39.4  0.175  24  0.0
698   698  118.0  70   0.0    0.0  44.5  0.904  26  0.0
586   586  103.0  66   0.0    0.0  24.3  0.249  29  0.0
532   532   91.0   0   0.0    0.0  29.8  0.501  31  0.0

[461 rows x 9 columns]      List     V2  V3    V4     V5    V6     V7  V8   V9
739   739  120.0  80  37.0  150.0  42.3  0.785  48  1.0
736   736   65.0  72  23.0    0.0  32.0  0.600  42  0.0
469   469  144.0  82  40.0    0.0  41.3  0.607  28  0.0
140   140  106.0  82  30.0    0.0  39.5  0.286  38  0.0
430   430   89.0  74  16.0   85.0  30.4  0.551  38  0.0
..    ...    ...  ..   ...    ...   ...    ...  ..  ...
363   363  147.0  74  25.0  293.0  34.9  0.385  30  0.0
52     52  176.0  90  34.0  300.0  33.7  0.467  58  1.0
715   715  173.0  78  39.0  185.0  33.8  0.970  31  1.0
145   145   57.0  80  37.0    0.0  32.8  0.096  41  0.0
530   530  107.0  76   0.0    0.0  45.3  0.686  24  0.0

[153 rows x 9 columns]      List     V2  V3    V4     V5    V6     V7  V8   V9
581   581  121.0  78  17.0    0.0  26.5  0.259  62  0.0
298   298  112.0  72   0.0    0.0  23.6  0.840  58  0.0
280   280  129.0  76  28.0  122.0  35.9  0.280  39  0.0
744   744  100.0  84  33.0  105.0  30.0  0.488  46  0.0
756   756  123.0  72   0.0    0.0   NaN  0.258  52  1.0
..    ...    ...  ..   ...    ...   ...    ...  ..  ...
380   380  105.0  68  22.0    0.0  20.0  0.236  22  0.0
396   396  131.0  66  40.0    0.0  34.3  0.196  22  1.0
620   620   92.0  76  20.0    0.0  24.2  1.698  28  0.0
169   169  102.0  82   0.0    0.0  30.8  0.180  36  1.0
527   527  117.0  66  31.0  188.0  30.8  0.493  22  0.0

[153 rows x 9 columns]
Training length 461
Testing length 153
Validation length 153

In [144]:
#P4

In [145]:
import numpy as np

lenx = len(x_train)
leny = len(df.columns)-2
t = pd.DataFrame(np.random.randn(lenx,leny),columns = ["V2","V3","V4","V5","V6","V7","V8","V9"])
print(t)

           V2        V3        V4        V5        V6        V7        V8  \
0    0.197195 -1.161192  0.465255  1.427714 -0.483167  0.767399  0.682073
1    1.709866 -0.303682 -0.494251  0.523104 -1.533826  0.753943  0.856718
2    0.116741 -0.427149 -1.308896  0.007599  1.136413 -1.792425  0.426462
3    0.463134  0.374441  1.222596  0.932157  0.424154 -0.427741 -0.252261
4    0.819989 -0.706713 -2.193447  0.930122  0.691343 -0.264201  0.177771
..        ...       ...       ...       ...       ...       ...       ...
456 -0.117488 -0.310573  0.619335  1.381996 -1.846982  0.908761  0.731306
457  0.365008  0.640941  0.467214  1.158111 -1.154759  1.185458  0.005147
458  0.381308  0.515200 -0.600512  0.777017 -1.451468  0.478481  0.433191
459 -0.692634 -1.285525  1.049344 -0.152846 -0.493599 -0.202166 -0.795923
460  1.212192 -1.056217 -1.454289  0.586207 -0.325517 -0.187244  0.762044

           V9
0   -0.006662
1   -0.809412
2   -0.063112
3   -1.003610
4    1.719500
..        ...
456  0.243802
457  0.891344
458  0.512158
459 -1.092550
460  0.637852

[461 rows x 8 columns]

In [146]:
import numpy as np
zscore=[]
main=[]
p=0

for x in range (0,lenx):
    for y in range (0,leny):
        m = t.iloc[[x],[y]]
        n = x_train.iloc[[x],[y]]
        p=p+1
        
        zscore.append(m)
        main.append(n)
        
k=np.array(zscore).reshape(lenx,leny)
l=np.array(main).reshape(lenx,leny)

out=[]
out= np.argwhere(abs(k>2))

print(df.median())

v1m=df['V1'].median()
v2m=df['V2'].median()
v3m=df['V3'].median()
v4m=df['V4'].median()
v5m=df['V5'].median()
v6m=df['V6'].median()
v7m=df['V7'].median()
v8m=df['V8'].median()
v8m=df['V9'].median()

List    383.0000
V1        3.0000
V2      117.0000
V3       72.0000
V4       23.0000
V5       36.0000
V6       32.0000
V7        0.3725
V8       29.0000
V9        0.0000
dtype: float64

In [147]:
for x in range (0, len(out)):
    outx=out[x,0]
    outy=out[x,1]
    
    if (outy==0):
        x_train.iloc[[outx],[outy]] = v1m
    elif (outy==1):
        x_train.iloc[[outx],[outy]] = v2m
    elif (outy==2):
        x_train.iloc[[outx],[outy]] = v3m
    elif (outy==3):
        x_train.iloc[[outx],[outy]] = v4m
    elif (outy==4):
        x_train.iloc[[outx],[outy]] = v5m
    elif (outy==5):
        x_train.iloc[[outx],[outy]] = v6m
    elif (outy==6):
        x_train.iloc[[outx],[outy]] = v7m
    elif (outy==7):
        x_train.iloc[[outx],[outy]] = v8m
    elif (outy==8):
        x_train.iloc[[outx],[outy]] = v9m
        
print(x_train)

     List     V2  V3    V4     V5    V6     V7  V8   V9
222   222  142.0  60  33.0  190.0  28.8  0.687  61  0.0
609   609  106.0  54  21.0  158.0  30.9  0.292  24  0.0
238   238  104.0  76   0.0    0.0  18.4  0.582  27  0.0
463   463  115.0  98   0.0    0.0  24.0  1.022  34  0.0
434   434  141.0   0   0.0    0.0  42.4  0.205  29  1.0
..    ...    ...  ..   ...    ...   ...    ...  ..  ...
753   753  154.0  78  32.0    0.0  32.4  0.443  45  1.0
590   590  112.0  78  50.0  140.0  39.4  0.175  24  0.0
698   698  118.0  70   0.0    0.0  44.5  0.904  26  0.0
586   586  103.0  66   0.0    0.0  24.3  0.249  29  0.0
532   532   91.0   0   0.0    0.0  29.8  0.501  31  0.0

[461 rows x 9 columns]

In [148]:
#5

In [149]:
dff = (df-df.mean())/df.std()
dff

,List,V1,V2,V3,V4,V5,V6,V7,V8,V9
0,-1.728666,-0.843176,-1.114636,-0.160144,0.531228,-0.694448,-0.668527,-0.365234,-0.188817,NaN
1,-1.724153,1.233435,1.948277,-0.263406,-1.286929,-0.694448,-1.086030,0.602248,-0.103727,1.355896
2,-1.719639,-0.843176,NaN,-0.160144,0.155058,0.120383,-0.478753,-0.919803,-1.039715,-0.736536
3,-1.715126,-1.139835,0.510583,-1.502554,0.907399,0.761846,NaN,5.472809,-0.018638,1.355896
4,-1.710612,0.343459,-0.145756,0.252905,-1.286929,-0.694448,-0.795043,-0.817328,-0.273907,-0.736536
...,...,...,...,...,...,...,...,...,...,...
762,1.710612,1.826753,-0.614569,0.356167,1.722435,0.865867,0.128523,-0.907747,2.534055,NaN
763,1.715126,-0.546517,0.041770,0.046381,0.405838,-0.694448,0.621936,-0.398387,-0.529176,NaN
764,1.719639,0.343459,0.010515,0.149643,0.155058,0.276415,-0.719134,-0.684714,-0.273907,-0.736536
765,1.724153,-0.843176,0.166787,-0.469931,-1.286929,-0.694448,-0.225721,-0.371262,1.172619,1.355896
766,1.728666,-0.843176,-0.864603,0.046381,0.656618,-0.694448,-0.187767,-0.473736,-0.869535,-0.736536

In [150]:
from sklearn.preprocessing import MaxAbsScaler

columns = ['V1','V2','V3','V4','V5','V6','V7','V8','V9']

abs_scaler = MaxAbsScaler()
abs_scaler.fit(x_train)
abs_scaler.max_abs_
scaled_data = abs_scaler.transform(x_train)
df_scaled = pd.DataFrame(scaled_data, columns=x_train.columns)
df_scaled

,List,V2,V3,V4,V5,V6,V7,V8,V9
0,0.290196,0.713568,0.526316,0.550000,0.224586,0.429210,0.300262,0.753086,0.0
1,0.796078,0.532663,0.473684,0.350000,0.186761,0.460507,0.127622,0.296296,0.0
2,0.311111,0.522613,0.666667,0.000000,0.000000,0.274218,0.254371,0.333333,0.0
3,0.605229,0.577889,0.859649,0.000000,0.000000,0.357675,0.446678,0.419753,0.0
4,0.567320,0.708543,0.000000,0.000000,0.000000,0.631893,0.089598,0.358025,1.0
...,...,...,...,...,...,...,...,...,...
456,0.984314,0.773869,0.684211,0.533333,0.000000,0.482861,0.193619,0.555556,1.0
457,0.771242,0.562814,0.684211,0.833333,0.165485,0.587183,0.076486,0.296296,0.0
458,0.912418,0.592965,0.614035,0.000000,0.000000,0.663189,0.395105,0.320988,0.0
459,0.766013,0.517588,0.578947,0.000000,0.000000,0.362146,0.108829,0.358025,0.0
460,0.695425,0.457286,0.000000,0.000000,0.000000,0.444113,0.218969,0.382716,0.0

In [151]:
df = pd.DataFrame(scaled_data, columns=x_train.columns)
print(df.mean())

List    0.483334
V2      0.609034
V3      0.605777
V4      0.334532
V5      0.101354
V6      0.479173
V7      0.207959
V8      0.406872
V9      0.381375
dtype: float64